@page
@model DragonBoatHub.Admin.Areas.SuperUser.Pages.AddTrainingSuccessModel
@{
    ViewData["Title"] = "Successfully added workout";
    Layout = "_Layout";
    ViewData["ShowTrainingButtonMenu"] = true;
}
<div class="centered-text">
    <h1>Training successfully added!</h1>
    <p>The training session has been saved.</p>
</div>
