@page
@using DragonBoatHub.Contracts;
@model DragonBoatHub.Admin.Areas.SuperUser.Pages.NewTrainingModel
@{
    ViewData["Title"] = "New traing";
    Layout = "_Layout";

}
<form method="post">
    <h3>Create new training</h3>
    <div class="form-group mb-1">
        <label asp-for="Date" class="form-label">Date</label>
        <input asp-for="Date" type="date" class="form-control w-25" required />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group mb-1">
        <label asp-for="Time" class="form-label">Time</label>
        <input asp-for="Time" type="time" class="form-control w-25" required />
        <span asp-validation-for="Time" class="text-danger"></span>
    </div>
    <div class="form-group mb-1">
        <label asp-for="Capacity" class="form-label">Capacity</label>
        <input asp-for="Capacity" class="form-control w-25" required />
        <span asp-validation-for="Capacity" class="text-danger"></span>
    </div>
    <div class="form-group mb-1">
        <label asp-for="Level" class="form-label">Level</label>
        <select asp-for="Level" class="form-control w-25"
                asp-items="@(new SelectList(Enum.GetValues(typeof(EAdminUserTrainingLevelDto))))" required>
        </select>
        <span asp-validation-for="Level" class="text-danger"></span>
    </div>
    <div class="form-group mb-1">
        <label asp-for="IdAgeCategory" class="form-label">Age Category</label>
        <select asp-for="IdAgeCategory" asp-items="@(DragonBoatHub.Admin.Areas.SuperUser.Pages.NewTrainingModel.AgeCategorySelectList)" class="form-control w-25"> </select>     
        <span asp-validation-for="IdAgeCategory" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-1">Create</button>
</form>
