@page "/login"
@model DragonBoatHub.Admin.Areas.Account.Pages.LoginModel
@{
    ViewData["Title"] = "Login Page";
    Layout = "_Layout";
}
<form method="post">
    <h3>Sign in</h3>
    <div class="form-group mb-1">
        <label asp-for="UserName" class="form-label">Username</label>
        <input asp-for="UserName" class="form-control w-25" required />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group mb-1">
        <label asp-for="Password" class="form-label">Password</label>
        <input asp-for="Password" type="password" class="form-control w-25" required />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-1">Login</button>
</form>
